html {
  font-size: 62.5%;
}

.body {
  box-sizing: border-box;
}

.row {
  max-width: 71rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 5rem;
}
.row .col-1-of-4 {
  width: calc((100% - 3* 2rem) / 4);
}
.row .col-2-of-4 { /**/
  width: calc(2*((100% - 3* 2rem)/4) + 2rem);
}
.row .col-3-of-4 {
  width: calc(3*((100% - 3* 2rem)/4) + 2*2rem);
}

.container {
  position: relative;
  border: 1px transparent blueviolet;
  margin: 5rem 5rem;
  padding: 1rem 2rem;
  box-shadow: 10px 10px 10px 10px rgba(228, 224, 8, 0.8);
  border-radius: 2rem;
}

.display-box {
  margin: 0 auto;
  size: auto;
  padding: 1rem 0.8rem;
}
.display-box .display {
  font-size: 3.5rem;
  padding: 1rem 1rem;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid orange;
  border-radius: 1rem;
  white-space: nowrap;
  resize: none;
  box-shadow: 0 1rem 1.5rem #fff;
  overflow-x: scroll;
  width: 100%;
  min-height: 10rem;
  max-height: 20rem;
  height: 100%;
}

.all-buttons {
  min-width: 3rem;
  max-width: 20rem;
  width: 100%;
  min-height: 3rem;
  max-height: 20rem;
  height: 100%;
  transition: all 0.15s;
  cursor: pointer;
}
.all-buttons:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}
.all-buttons:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

.buttons {
  margin-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  font-size: 3.5rem;
  border-radius: 10rem;
}

.special {
  font-size: 3.5rem;
  border-radius: 10rem;
  background-color: rgb(250, 200, 200);
}

.handler {
  border-radius: 10rem;
  font-size: 3.5rem;
  background-color: rgb(250, 210, 30);
}

.normal {
  border-radius: 10rem;
  font-size: 3.5rem;
  background-color: rgb(240, 240, 240);
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0.5rem 0.5rem;
    max-width: 50%;
  }
  .container .display-box {
    padding: 0;
  }
  .container .display-box .display {
    font-size: 1.8rem;
    min-height: 7rem;
    max-height: 7.5rem;
    height: 100%;
    max-width: 19rem;
    min-width: 19.5rem;
    width: 100%;
  }
  .container .buttons {
    margin-top: 0.25rem;
    font-size: 1.5rem;
  }
  .container .row {
    margin: 0;
  }
  .container .row:not(:last-child) {
    margin: 0;
    margin-right: 1.5rem;
  }
  .all-buttons {
    min-width: 3rem;
    max-width: 3rem;
    width: 100%;
    min-height: 3rem;
    max-height: 3rem;
    height: 100%;
  }
  .special {
    font-size: 1.5rem;
  }
  .handler {
    font-size: 1.5rem;
  }
  .normal {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .container {
    margin: 0.5rem 0.5rem;
    max-width: 45%;
  }
  .container .display-box {
    padding: 0;
  }
  .container .display-box .display {
    font-size: 1rem;
    min-height: 5rem;
    max-height: 5.5rem;
    height: 100%;
    max-width: 9.5rem;
    min-width: 9rem;
    width: 100%;
  }
  .container .buttons {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .container .row {
    margin: 0;
  }
  .container .row:not(:last-child) {
    margin-bottom: 2rem;
    margin: 0;
  }
  .all-buttons {
    min-width: 2rem;
    max-width: 20rem;
    width: 100%;
    min-height: 2rem;
    max-height: 20rem;
    height: 100%;
  }
  .special {
    font-size: 0.75rem;
  }
  .handler {
    font-size: 0.75rem;
  }
  .normal {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 300px) {
  .container {
    margin: 0.5rem 0.5rem;
    max-width: 45%;
  }
  .container .display-box {
    padding: 0;
  }
  .container .display-box .display {
    font-size: 1rem;
    min-height: 5rem;
    max-height: 5.5rem;
    height: 100%;
    max-width: 9.5rem;
    min-width: 9rem;
    width: 100%;
  }
  .container .buttons {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .container .row {
    margin: 0;
  }
  .container .row:not(:last-child) {
    margin-bottom: 2rem;
    margin: 0;
  }
  .all-buttons {
    min-width: 2rem;
    max-width: 20rem;
    width: 100%;
    min-height: 2rem;
    max-height: 20rem;
    height: 100%;
  }
  .special {
    font-size: 0.75rem;
  }
  .handler {
    font-size: 0.75rem;
  }
  .normal {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 200px) {
  .container {
    margin: 0.5rem 0.5rem;
    max-width: 40%;
  }
  .container .display-box {
    padding: 0;
    overflow-x: scroll;
  }
  .container .display-box .display {
    font-size: 1rem;
    min-height: 5rem;
    max-height: 5.5rem;
    height: 100%;
    min-width: 5rem;
    max-width: 5.5rem;
    width: 100%;
    padding: 0;
  }
  .container .buttons {
    margin-top: 0;
    font-size: 0.5rem;
    margin-left: -0.5rem;
  }
  .container .row {
    margin-left: -1rem;
  }
  .container .row:not(:last-child) {
    margin-left: -0.85rem;
  }
  .all-buttons {
    min-width: 0.1rem;
    max-width: 10rem;
    width: 100%;
    min-height: 0.1rem;
    max-height: 10rem;
    height: 100%;
  }
  .special {
    font-size: 0.75rem;
  }
  .handler {
    font-size: 0.75rem;
  }
  .normal {
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=App.css.map */